<header class='full-width header' {{#if @blog.cover_image}}style="background-image: url({{@blog.cover_image}})"{{/if}}>
  <div class='row'>
    <div class='header__logo small-12 medium-12 large-1 large-offset-1 columns'>
      {{#if @blog.logo}}
        <a href='/'><img class="header__logo__img" src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
      {{/if}} 
    </div>
    <div class='header__name small-12 large-1 columns'>
      <a class='header__name__a' href='/'><h1 class='header__name__heading'>{{@blog.title}}</h1></a>
    </div>
    <nav class='header__nav small-12 medium-12 large-6 large-offset-2 end columns'>
    <ul class='header__nav__ul' role='menu'>
      <li class='header__nav__li' role='menuitem'><a class='header__nav__li__a' href='https://managementforstartups.com/keep-your-people'>keep your people</a></li>
      <li class='header__nav__li' role='menuitem'><a class='header__nav__li__a' href='https://managementforstartups.com/articles/'>articles</a></li>
      <li class='header__nav__li' role='menuitem'><a class='header__nav__li__a' href='mailto:cedric@managementforstartups.com'>contact</a></li>
    </ul>
    </nav>
  </div>
</header>
