<header class='full-width header' {{#if @site.cover_image}}style="background-image: url({{@site.cover_image}})"{{/if}}>
  <div class='row'>
    <div class='header__logo small-12 medium-12 large-2 large-offset-1 columns'>
      {{#if @site.logo}}
        <a href='/'><img class="header__logo__img" src="{{@site.logo}}" alt="{{@site.title}}" /></a>
      {{/if}} 
    </div>
    <nav class='header__nav small-12 medium-12 large-6 large-offset-2 end columns'>
    <ul class='header__nav__ul' role='menu'>
      <li class='header__nav__li' role='menuitem'><a class='header__nav__li__a' title='topics' href='https://managementforstartups.com/topics'>topics</a></li>
      <li class='header__nav__li' role='menuitem'><a class='header__nav__li__a' title='articles' href='https://managementforstartups.com/articles/'>articles</a></li>
      <li class='header__nav__li' role='menuitem'><a class='header__nav__li__a' title='contact' href='mailto:cedric@managementforstartups.com'>contact</a></li>
    </ul>
    </nav>
  </div>
</header>
