<div class='post__members-only-box'>
  <h2>This content is only available to members</h2>
  <p>To read it, log in or sign up for a membership plan:</p>
  <p><a class='button btn--purple--hollow' href='{{@site.url}}/login'>Login</a>&nbsp;<span class='lato' style='vertical-align: super;'><small>or</small></span>&nbsp;<a class='button btn--purple--hollow' href='{{@site.url}}/signup'>Signup</a></p>
</div>
