<ul class='sidebar__nav__ul' role='menu'>
  {{#foreach navigation}}
    <li class='sidebar__nav__li{{#if current}}--active{{/if}}' role='menuitem'><a href='{{url absolute="true"}}'>{{label}}</a></li>
  {{/foreach}}
</ul>
