<ul class='header__nav__ul' role='menu'>
  {{#foreach navigation}}
    <li class='header__nav__li' role='menuitem'><a class='header__nav__li__a' href='{{url absolute="true"}}'>{{label}}</a></li>
  {{/foreach}}
</ul>
