<nav class="paginate">
    {{#if prev}}
      <a class="paginate__newer" href="{{page_url prev}}">&larr; {{t "Newer Posts"}}</a>
    {{/if}}
    {{#if next}}
      <a class="paginate__older" href="{{page_url next}}">{{t "Older Posts"}} &rarr;</a>
    {{/if}}
</nav>
