    <h2 id="subscribe" class='subscribe-box__heading'>Subscribe to {{@blog.title}}</h2>
    <p class='subscribe-box__p'>Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox:</p>
    {{subscribe_form placeholder="youremail@example.com" button_class="button small"}}

