@import './fontawesome-all.min.css';
@import '~foundation-sites/scss/foundation';
@import '~foundation-sites/scss/util/util';
@import './_settings.scss';
// @import '~foundation-sites/scss/motioncd -ui';
@include foundation-everything(false); // false is to turn off the flexbox grid, and use the old grid

@font-face {font-family: 'Calluna';src: url('../fonts/Calluna.eot');src: url('../fonts/Calluna.eot?#iefix') format('embedded-opentype'),url('../fonts/Calluna.woff2') format('woff2'),url('../fonts/Calluna.woff') format('woff'),url('../fonts/Calluna.ttf') format('truetype');}
@font-face {font-family: 'Lato';src: url('../fonts/Lato.eot');src: url('../fonts/Lato.eot?#iefix') format('embedded-opentype'),url('../fonts/Lato.woff2') format('woff2'),url('../fonts/Lato.woff') format('woff'),url('../fonts/Lato.ttf') format('truetype');}

// Variables
$yellowbg: #fffced;
$orange: #f2e6b1;
$fadedblue: #eff3fc;
$vfadedblue: #e0f6fb;
$darkblue: #004569;
$darkerblue: #212945;
$fadedpurple: #f7eef4;
$fadedmagenta: #edd6e5;
$deeppurple: #5D2AB2;
$deeperpurple: #472089;
$superdarkpurple: #3c1053;

$gradient: linear-gradient(to bottom right,$darkerblue,$darkblue);
$footergradient: linear-gradient(to bottom right,$fadedblue,$vfadedblue);

$sanserif: 'Lato', 'Helvetica Neue', Arial, sans-serif;
$serif: 'Calluna', Georgia, serif;

// Globals
body {
  font-family: 'Calluna', Georgia, serif;
  overflow-x: hidden; // this is a hack necessary for the full-width images technique we use
}
p, li, blockquote { 
  font-size: 1.2rem;
}
p, blockquote {
  margin-bottom: 1.2rem;
}
li {
  margin-bottom: 1rem;
}
figcaption {
  margin-top: -0.5rem;
  font-style: italic;
  color: $dark-gray;
}
figure {
  margin-bottom: 1.2rem;
}
blockquote, blockquote p, blockquote li {
  color: $black;
}
blockquote {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $yellowbg;
  border: solid $orange;
  border-width: 0 1px 1px 0;
  @include breakpoint(medium up) {
    margin-left: 1.5rem;
  }
}
code {
  background: $fadedblue;
  border: none;
}
pre {
  margin-bottom: 1.2rem;
  display: block;
  background: $fadedblue;
  border: 1px solid $medium-gray;
  padding: 5px
}
@mixin pullquote {
  color: map-get($foundation-palette, primary);
  font-style: italic;
  line-height: 120%;
  display: block;
  @include breakpoint(medium up) {
    width: 50%;
    font-size: 1.8rem;
    padding: 1rem 0.2rem 1rem;
  }
  @include breakpoint(small) {
    width: 100%;
    font-size: 1.4rem;
    padding: 1rem 0.2rem 2rem;
  }
}
.pullquote-l {
  float: left;
  @include breakpoint(medium up) {
    margin-right: 2rem;
    margin-left: -20%;
  }
  @include pullquote;
}
.pullquote-r {
  float: right;
  @include breakpoint(medium up) {
    margin-left: 2rem;
    margin-right: -20%;
  }
  @include pullquote;
}
.pullquote-l img, .pullquote-r img {
  @include breakpoint(small down) {
    max-height: 150px;
  }
}
.btn--white--hollow {
  border-color: #fff;
  color: #fff;
  background-color: transparent;
  &:hover, &:active {
    color: #ccc;
    border-color: #ccc;
    background-color: transparent;
  }
  &:visited, &:focus {
    background-color: transparent;
  }
}
.btn--purple--hollow {
  color: $deeppurple;
  border-color: $deeppurple;
  border-style: solid !important;
  background-color: transparent;
  &:hover, &:active {
    color: $superdarkpurple;
    border-color: $superdarkpurple;
    background-color: transparent;
  }
}
.button {
  font-family: $sanserif;
}

// Used when we need a full-width background or containing div.
.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}
.clear { clear: both; }

// Headings
h1, h2, h3, h4, h5 { 
  font-family: 'Calluna', Georgia, serif;
  line-height: 120%;
}

// Header
.header {
 background: $darkerblue;
 margin-bottom: 2rem;
 border-bottom: 1px solid $darkerblue;
}
.header__logo {
  padding: 0px;
}
.header__logo__img {
  height: 90px;
  padding: 25px 15px;
}
.header__logo--txt {
  @include breakpoint (medium up) {
    font-size: 2.6rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
  @include breakpoint (small down) {
    font-size: 1.5rem;
    margin-top: 1.8rem;
    padding-bottom: 1.7rem;
  }
  padding-left: 10px;
  font-family: $serif;
  font-style: italic;
  display: block;
  letter-spacing: -2px;
}
.header__logo__a-txt {
  color: $white;
  &:hover, &:active, &:focus {
    color: $light-gray;
  } 
}
.header__right {
  padding-top: 25px;
  text-align: right;
}
.header--feature {
  background: $gradient;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 20vh;
  margin-bottom: 3rem;
}
.header--feature__title-box {
  background-color: rgba(0,0,0,0.6);
  padding: 15px;
  margin-top: 10%;
}
.header--feature__heading {
  color: $white;
  font-size: 3.1rem;
  margin-top: 0.5rem;
}
.header--feature__tag-bar a {
  color: $light-gray;
  &:hover {
    color: $medium-gray;
  }
}
.header--feature__metadata-bar {
  color: $light-gray;
  a {
    color: $light-gray;
    border-bottom: 1px dotted $light-gray;
    &:hover {
      color: $medium-gray;
    }
  }
}

// Home styles
.home__books {
  border-bottom: 1px solid $light-gray;
  padding-top: 15px;
  padding-bottom: 15px;
  @include breakpoint(medium down) {
    margin-bottom: 2rem;
  }
  @include breakpoint(large up) {
    margin-bottom: 4rem;
  }
}
.home__books-section-heading {
  font-family: $sanserif;
  color: $dark-gray;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.home__books-section-heading__a {
  color: $dark-gray;
  border-bottom: 1px dotted $medium-gray;
  &:hover {
    color: $black;
  }
}
.home__books-img {
  max-height: 200px;
  display: block;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 1px solid $light-gray;
}
.home__books-header{
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}
.home__books-excerpt {
  font-size: 0.9rem;
  line-height: 120%;
}
.home__hr {
  border-bottom: 1px dotted $medium-gray;
}

// Subscribe box styles
.subscribe-box {
  background-color: $fadedblue;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}
.subscribe-box__heading {
  font-size: 1.5rem;
  line-height: 110%;
}
.subscribe-box__p {
  font-size: 0.9rem;
  line-height: 120%;
}

// Index styles
.index__meta_box {
  border-bottom: 1px solid $medium-gray;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}
.tag-index__desc-heading {
  font-style: italic;
  color: $dark-gray;
  display: inline-block;
}
.author-index__bio {
  font-style: italic;
}
.author-index__profile-img {
  float: right;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 100px;
}
.author-index__links-bar {
  color: $dark-gray;
  margin-bottom: 1rem;

  a {
    color: $dark-gray;
    &:hover {
      color: $black;
    }
  }
}

// Post Styles
.post {
  margin-bottom: 2rem;
}
.post__excerpt__p {
  font-size: 1rem;
}
.post__excerpt__p-hero {
  font-size: 1.1rem;
}
.post-header {
  margin-bottom: 0.5rem;
}
.post-header__feature-img {
  margin-bottom: 1rem;
}
.post-header__title {
  font-size: 30px;
}
.post-header__title-link {
  color: $black;
  &:hover {
    color: map-get($foundation-palette, primary);
  }
  &:active {
    color: $black;
  }
}
.post-header__meta {
  font: 0.8rem $sanserif;
  color: $dark-gray;
}
.post-header__title {
  margin-bottom: 0;
}
.post-header__title--secondary {
  font-size: 25px;
  margin-bottom: 0.2rem;
  display: inline-block;
}

// Post Page styles
.post-page-header {
  margin-bottom: 2rem;
}
.post-page-header__title {
  margin-top: 0.5rem;
  font-style: italic;
  line-height: 120%;
  font-size: 2.5rem;
}
.post-page-header__tag-bar {
  font: 0.8rem $sanserif;
  font-style: italic;
  text-transform: uppercase;
}
.post-page-header__tag-bar a {
  color: $darkblue;
  &:hover {
    color: $darkerblue;
  }
} 
.post-page-header__metadata-bar {
  font-family: $sanserif;
  color: $dark-gray;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}
.post-page-content {
  @include breakpoint(medium up) {
    h1, h2, h3, h4, h5, h6 { margin-bottom: 0.9rem; }
    h1 { font-size: 36px; }
    h2 { font-size: 30px; }
    h3 { font-size: 25px; }
    h4 { font-size: 21px; }
    h5 { font-size: 18px; }
    h6 { font-size: 16px; }
  }
  a { border-bottom: 1px dotted map-get($foundation-palette, primary); }
  img { margin-bottom: 1.2rem; }
}
.post-page-content--feature {
  margin-bottom: 3rem;

  @include breakpoint(medium only) {
  h1, h2, h3, h4, h5, h6 { margin-bottom: 0.9rem; }
    h1 { font-size: 36px; }
    h2 { font-size: 30px; }
    h3 { font-size: 25px; }
    h4 { font-size: 21px; }
    h5 { font-size: 18px; }
    h6 { font-size: 16px; }
  }
  @include breakpoint(large up) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $medium-gray;

    p, blockquote { 
      font-size: 1.4rem; 
      margin-bottom: 1.3rem;
    }
    li {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }
  }
  a { border-bottom: 1px dotted map-get($foundation-palette, primary); }
  img { margin-bottom: 1.2rem; }
}
// Full width images
.post-page-content img[src$="#full"], .post-page-content figure.kg-width-full img { // Hack for full width images
  position: relative;
  margin-bottom: 1.2rem;
  
  @include breakpoint(medium down) {
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw); 
  }
  @include breakpoint(large up) {
    max-width: rem-calc(1000);
    left: 35%;
    transform: translateX(-25%);
  }
  @media screen and (min-width: 64em) and (max-width: 65em) {
    max-width: 85vw;
    left: 33%;
    transform: translateX(-25%);
  }
    @include breakpoint(xlarge up) {
    max-width: rem-calc(1000);
    left: 40%;
    transform: translateX(-25%);
  }
}
.post-page-content--feature img[src$="#full"], .post-page-content--feature figure.kg-width-full img {
  @include breakpoint(small up) {
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw); 
  }
}
// Wide width images
.post-page-content figure.kg-width-wide img { // Hack for full width images
  position: relative;
  margin-bottom: 1.2rem;
  
  @include breakpoint(medium only) {
    max-width: 80vw;
    margin-left: calc(70% - 50vw);
  }
  @include breakpoint(large up) {
    max-width: rem-calc(650);
    left: 22%;
    transform: translateX(-25%);
  }
}
.post-page-content--feature figure.kg-width-wide img {
  @include breakpoint(medium up) {
    max-width: 80vw;
    margin-left: calc(70% - 52vw);
  }
}
.post-page__bottom-meta {
  @include breakpoint(large up) {
    margin-top: 3rem;
  }
}
.post-page__related {
  margin-bottom: 2rem;
}
.post-page__related__heading {
  border-top: 3px solid $fadedpurple;
  font-size: 2rem;
  font-style: italic;
  margin-bottom: 1rem;
  padding-top: 15px;
}
.post-page__related__ul {
  list-style: none;
  margin-left: 0;
}
.post-page__related__li {
  margin-bottom: 0.5rem;
  padding-bottom: 5px;
  border-bottom: 1px dotted $medium-gray;
}
@mixin post-page-nextprev {
  min-height: 6rem;
}
.post-page__next-prev--left {
  padding-left: 0;
  height: 100%;
  @include post-page-nextprev;
}
.post-page__next-prev--right {
  padding-right: 0;
  height: 100%;
  border-left: 1px solid $light-gray;
  @include post-page-nextprev;
  @include breakpoint(medium up) {
    text-align: right;
  }
}
.post-page__next-prev__heading {
  font-size: 1.2rem;
}
.post-page__next-prev__subheading {
  text-transform: uppercase;
  font: 0.8rem $sanserif;
  color: $dark-gray;
}

// Post custom types
.book-review__img {
  max-width: 40%;
  float: left;
  border: 1px solid $light-gray;
  margin-top: 1rem;
  margin-right: 0.7rem;
  margin-bottom: 0.5rem;
  @include breakpoint(medium up) {
    margin-left: -10%;
  }
}

// Pagination
.paginate__newer {
  float: left;
}
.paginate__older {
  float: right;
}

// Sidebar
.sidebar {
  @include breakpoint(medium down) {
    border-top: 1px solid $medium-gray;
    padding-top: 2rem;
  }
}
.sidebar__heading {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #666;
  text-transform: uppercase;
  font-family: $sanserif;
}
.sidebar__desc_p {
  font-size: 0.95rem;
  line-height: 130%;
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
}

// Nav
.sidebar__nav {
  margin-top: 1.5rem;
}
.sidebar__nav__ul {
  list-style: none;
  margin-left: 0;
  font: 0.96rem 'Lato', 'Helvetica Neue', Arial, sans-serif;
}

@mixin sidebar-li-styles {
  font-size: 1rem;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 0.2rem;
  margin-bottom: 0.7rem;
}
.sidebar__nav__li {
  @include sidebar-li-styles;
}
.sidebar__nav__li--active {
  @include sidebar-li-styles;
  color: $deeppurple;
}

.sidebar__social {
  margin-top: 1.5rem;
}

// Social bar
.social__ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}
.social__li {
  margin-right: 5px;
  display: inline-block;
}
.social__li svg {
  height: 1.2rem;
  fill: $darkerblue;
}

// Footer
.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  border-top: 1px solid $darkblue;
  background: $footergradient;
  box-shadow: 0 50vh 0 50vh $vfadedblue;
  font-family: $sanserif;
}
.footer__heading {
  font-family: $sanserif;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: $dark-gray;
}
.footer__tags {
  list-style: none;
  margin-left: 0;
}
.footer__tags__li {
  font-size: 0.9rem;
  font-family: $sanserif;
  margin-bottom: 0.3rem;
}
.footer__copyright {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
.footer__theme-credit {
  color: $dark-gray;
  font-size: 0.8rem;
  line-height: 120%;
}
.footer__theme-credit__a {
  color: $dark-gray;
}
.footer__latest {
  list-style: none;
  margin-left: 0; 
}
.footer__latest__li {
  font-size: 0.9rem;
  font-family: $sanserif;
  border-bottom: 1px dotted $dark-gray;
  margin-bottom: 0.4rem;
  padding-bottom: 0.4rem;
}


