{{!< ../default}}
{{> header}}
{{#if @member}}
  {{!-- Logged in: Redirect home --}}
  <script>window.location = '{{@site.url}}/members/';</script>
{{else}}
  <div class='row'>
    <div class='small-12 medium-8 medium-offset-2 large-6 large-offset-1 columns'>
      <form class="lh-copy" data-members-form="signin">
        <h1>Login</h1>
        <p class='lato'>Enter your email address for full access to the membership section.</p>
        <div class="signin-box">
          <input class='' data-members-email type="email" placeholder="Your email address" required="true" autocomplete="false" />
          <button class="button btn--purple" type="submit">
            <span class="button-content">Send login link &rarr;</span>
            <span class="button-loader">{{> "icons/loader"}}</span>
          </button>
          <p>Don't have an account yet? <a href="{{@site.url}}/signup/">Sign up for membership &rarr;</a></p>
          <div class="message-success"><strong>Great!</strong> Check your inbox and click the link to complete signin</div>
          <div class="message-error">Please enter a valid email address!</div>
        </div>
      </form>
    </div>
  <div class='small-12 medium-8 medium-offset-2 large-3 large-offset-1 end columns'>
    {{> sidebar}}
  </div>
</div><!--row-->
{{/if}}
{{>footer}}
